<!-- Begin Slider With Category Menu Area -->
<div class="slider-with-banner">
  <div class="container">
    <div class="row">
      <!-- Begin Category Menu Area -->
      <div class="col-lg-3">
        <!--Category Menu Start-->
        <div class="category-menu">
          <div class="category-heading">
            <h2 class="categories-toggle"><span>دسته ها</span></h2>
          </div>
          <div id="cate-toggle" class="category-menu-list">
            <ul>
              <li class="right-menu"><a href="shop-left-sidebar.html">لپ تاپ</a>
                <ul class="cat-mega-menu">
                  <li class="right-menu cat-mega-title">
                    <a href="shop-left-sidebar.html">ویدئوی اصلی</a>
                    <ul>
                      <li><a href="#">همه ویدئوها</a></li>
                      <li><a href="#">بلوز</a></li>
                      <li><a href="#">لباس شب</a></li>
                      <li><a href="#">لباس تابستانی</a></li>
                      <li><a href="#">تی شرت</a></li>
                      <li><a href="#">اجاره یا خرید</a></li>
                      <li><a href="#">فهرست پیگیری شما</a></li>
                      <li><a href="#">تماشای هرجایی</a></li>
                      <li><a href="#">شروع شدن</a></li>
                    </ul>
                  </li>
                  <li class="right-menu cat-mega-title">
                    <a href="shop-left-sidebar.html">کامپیوتر</a>
                    <ul>
                      <li><a href="#">بیشتر برای کاوش</a></li>
                      <li><a href="#">تلویزیون و ویدئو</a></li>
                      <li><a href="#">صوتی و تئاتر</a></li>
                      <li><a href="#">دوربین، عکس</a></li>
                      <li><a href="#">تلفن های همراه</a></li>
                      <li><a href="#">هدفون</a></li>
                      <li><a href="#">بازی های ویدئویی</a></li>
                      <li><a href="#">بلندگوهای بی سیم</a></li>
                    </ul>
                  </li>
                  <li class="right-menu cat-mega-title">
                    <a href="shop-left-sidebar.html">الکترونیک</a>
                    <ul>
                      <li><a href="#">صفحه اصلی آمازون</a></li>
                      <li><a href="#">آشپزخانه و ناهارخوری</a></li>
                      <li><a href="#">مبلمان</a></li>
                      <li><a href="#">تختخواب و حمام</a></li>
                      <li><a href="#">لوازم خانگی</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="right-menu"><a href="shop-left-sidebar.html">تلویزیون و صوتی</a>
                <ul class="cat-mega-menu">
                  <li class="right-menu cat-mega-title">
                    <a href="shop-left-sidebar.html">سامسونگ</a>
                    <ul>
                      <li><a href="#">اداری</a></li>
                      <li><a href="#">گیمینگ</a></li>
                      <li><a href="#">کروم بوک</a></li>
                      <li><a href="#">مرمت شده</a></li>
                      <li><a href="#">صفحه لمسی</a></li>
                      <li><a href="#">اولترابوک ها</a></li>
                      <li><a href="#">نت بوک</a></li>
                    </ul>
                  </li>
                  <li class="right-menu cat-mega-title">
                    <a href="shop-left-sidebar.html">میتو</a>
                    <ul>
                      <li><a href="#">هارد درایو</a></li>
                      <li><a href="#">کارت گرافیک</a></li>
                      <li><a href="#">پردازنده ها (CPU)</a></li>
                      <li><a href="#">حافظه</a></li>
                      <li><a href="#">مادربورد</a></li>
                      <li><a href="#">فن و خنک کننده</a></li>
                      <li><a href="#">دیسک های سی دی / دی وی دی</a></li>
                    </ul>
                  </li>
                  <li class="right-menu cat-mega-title">
                    <a href="shop-left-sidebar.html">سونی براویا</a>
                    <ul>
                      <li><a href="#">کارت های صوتی</a></li>
                      <li><a href="#">کیس ها</a></li>
                      <li><a href="#">لباس های تصادفی</a></li>
                      <li><a href="#">لباس شب</a></li>
                      <li><a href="#">تی شرت</a></li>
                      <li><a href="#">تاپ ها</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="right-menu"><a href="shop-left-sidebar.html">گوشی هوشمند</a>
                <ul class="cat-mega-menu cat-mega-menu-2">
                  <li class="right-menu cat-mega-title">
                    <a href="shop-left-sidebar.html">لوازم جانبی دوربین</a>
                    <ul>
                      <li><a href="#">هشت هسته ای</a></li>
                      <li><a href="#">چهار هسته ای</a></li>
                      <li><a href="#">دو هسته ای</a></li>
                      <li><a href="#">صفحه نمایش 7.0</a></li>
                      <li><a href="#">صفحه نمایش 9.0</a></li>
                      <li><a href="#">کیس و کیف</a></li>
                    </ul>
                  </li>
                  <li class="right-menu cat-mega-title">
                    <a href="shop-left-sidebar.html">پلی استیشن</a>
                    <ul>
                      <li><a href="#">باتری ها</a></li>
                      <li><a href="#">میکروفون</a></li>
                      <li><a href="#">تثبیت کننده ها</a></li>
                      <li><a href="#">نوارهای ویدئویی</a></li>
                      <li><a href="#">کارت خوان حافظه</a></li>
                      <li><a href="#">سه پایه</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li><a href="#">دوربین ها</a></li>
              <li><a href="#">هدفون</a></li>
              <li><a href="#">ساعت هوشمند</a></li>
              <li><a href="#">اتاق در فضای باز</a></li>
              <li><a href="#">سامسونگ</a></li>
              <li class="rx-child"><a href="#">موبایل و تبلت</a></li>
              <li class="rx-child"><a href="#">تجهیزات جانبی</a></li>
              <li class="rx-parent">
                <a class="rx-default">دسته بیشتر</a>
                <a class="rx-show">دسته کمتر</a>
              </li>
            </ul>
          </div>
        </div>
        <!--Category Menu End-->
      </div>
      <!-- Category Menu Area End Here -->
      <!-- Begin Slider Area -->
      <div class="col-lg-9">
        <div class="slider-area pt-sm-30 pt-xs-30" *ngIf="sliders !== null && sliders.length > 0" >
          <div class="slider-active owl-carousel" >
            <!-- Begin Single Slide Area -->
            <div *ngFor="let slider of sliders" class="single-slide align-center-left animation-style-02">
              <img [src]="domain+'/images/sliders/origin/'+slider.imageName" class="single-slide align-center-left animation-style-02">
              <div class="slider-progress"></div>
              <div class="slider-content">
                <h5>{{slider.description}}</h5>
                <h2>{{slider.title}}</h2>
                <div class="default-btn slide-btn" *ngIf="slider.link !== null">
                  <a class="links" href="slider.link">خرید</a>
                </div>
              </div>
            </div>
            <!-- Single Slide Area End Here -->

          </div>
        </div>
      </div>
      <!-- Slider Area End Here -->
    </div>
  </div>
</div>
<!-- Slider With Category Menu Area End Here -->
