<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <ul>
        <li><a href="index.html">خانه</a></li>
        <li class="active">محصولات</li>
      </ul>
    </div>
  </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Li's Content Wraper Area -->
<div class="content-wraper pt-60 pb-60 pt-sm-30">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 order-1 order-lg-2">
        <!-- shop-top-bar start -->
        <div class="shop-top-bar mt-30">
          <div class="shop-bar-inner">
            <div class="product-view-mode">
              <!-- shop-item-filter-list start -->
              <ul class="nav shop-item-filter-list" role="tablist">
                <li class="active" role="presentation"><a aria-selected="true" class="active show" data-toggle="tab"
                                                          role="tab" aria-controls="grid-view" href="#grid-view"><i
                  class="fa fa-th"></i></a></li>
                <li role="presentation"><a data-toggle="tab" role="tab" aria-controls="list-view" href="#list-view"><i
                  class="fa fa-th-list"></i></a></li>
              </ul>
              <!-- shop-item-filter-list end -->
            </div>
            <div class="toolbar-amount">
              <span>نمایش {{filterProducts.pageId * filterProducts.takeEntity - filterProducts.takeEntity + 1}}
                تا {{filterProducts.pageId * filterProducts.takeEntity}}
                از {{filterProducts.pageCount * filterProducts.takeEntity}}</span>
            </div>
          </div>
          <!-- product-select-box start -->
          <div class="product-select-box">
            <div class="product-short">
              <p>مرتب سازی بر اساس:</p>
              <select class="nice-select">
                <option value="trending">ارتباط</option>
                <option value="sales">نام (الف - ی)</option>
                <option value="sales">نام (ی - الف)</option>
                <option value="rating">قیمت (پایین &gt; بالا)</option>
                <option value="date">رتبه (کمترین)</option>
                <option value="price-asc">مدل (الف - ی)</option>
                <option value="price-asc">مدل (ی - الف)</option>
              </select>
            </div>
          </div>
          <!-- product-select-box end -->
        </div>
        <!-- shop-top-bar end -->
        <!-- shop-products-wrapper start -->
        <div class="shop-products-wrapper" *ngIf="filterProducts">
          <div class="tab-content">
            <div id="grid-view" class="tab-pane fade active show" role="tabpanel">
              <div class="product-area shop-product-area">
                <div class="row">

                  <!-- single-product-wrap start -->
                  <app-single-product *ngFor="let product of filterProducts.products"
                                      [product]="product"></app-single-product>
                  <!-- single-product-wrap end -->


                </div>
              </div>
            </div>
            <div id="list-view" class="tab-pane product-list-view fade" role="tabpanel">
              <div class="row">
                <div class="col">
                  <div class="row product-layout-list">
                    <div class="col-lg-3 col-md-5 ">
                      <div class="product-image">
                        <a href="single-product.html">
                          <img src="assets/images/product/large-size/12.jpg" alt="Li's Product Image">
                        </a>
                        <span class="sticker">جدید</span>
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-7">
                      <div class="product_desc">
                        <div class="product_desc_info">
                          <div class="product-review">
                            <h5 class="manufacturer">
                              <a href="product-details.html">گوشه گرافیک</a>
                            </h5>
                            <div class="rating-box">
                              <ul class="rating">
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                              </ul>
                            </div>
                          </div>
                          <h4><a class="product_name" href="single-product.html">مرغ جوجه تی شرت چاپ شده</a></h4>
                          <div class="price-box">
                            <span class="new-price">46.80 تومان</span>
                          </div>
                          <p>دوربین ساحل منحصر به فرد بسته نرم افزاری - شامل دو سامسونگ تابشی 360 بلندگو وای فای
                            بلوتوث. تمام اتاق را با صدای عالی از طریق فن آوری رادیاتور حلقه پر کنید. جریان و کنترل R3
                            بلندگو بی سیم با گوشی های هوشمند خود. پیشرفته، مدرن طراحی</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="shop-add-action mb-xs-30">
                        <ul class="add-actions-link">
                          <li class="add-cart"><a href="#">افزودن به سبد خرید</a></li>
                          <li class="wishlist"><a href="wishlist.html"><i class="fa fa-heart-o"></i>افزودن به علاقه
                            مندی ها</a></li>
                          <li><a class="quick-view" data-toggle="modal" data-target="#exampleModalCenter" href="#"><i
                            class="fa fa-eye"></i>مشاهده سریع</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="paginatoin-area">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <p>نمایش {{filterProducts.pageId * filterProducts.takeEntity - filterProducts.takeEntity + 1}}-{{filterProducts.pageId * filterProducts.takeEntity}} از {{filterProducts.pageCount * filterProducts.takeEntity}} مورد (ها)</p>
                </div>
                <div class="col-lg-6 col-md-6">
                  <ul class="pagination-box">
                    <li><a href="#" class="Previous"><i class="fa fa-chevron-left"></i> قبلی</a>
                    </li>
                    <li
                      [ngClass]="{'active':page === filterProducts.activePage}"
                      *ngFor="let page of pages"
                      (click)="setPage(page)"
                    >
                      <a class="cursor-pointer">{{page}}</a>
                    </li>

                    <li>
                      <a href="#" class="Next" (click)="nextpage()"> بعدی <i class="fa fa-chevron-right"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- shop-products-wrapper end -->
      </div>
      <div class="col-lg-3 order-2 order-lg-1">
        <!--sidebar-categores-box start  -->
        <div class="sidebar-categores-box mt-sm-30 mt-xs-30">
          <div class="sidebar-title">
            <h2>لپ تاپ</h2>
          </div>
          <!-- category-sub-menu start -->
          <div class="category-sub-menu">
            <ul>
              <li class="has-sub"><a href="# ">ویدئوی اصلی</a>
                <ul>
                  <li><a href="#">همه ویدئوها</a></li>
                  <li><a href="#">بلوز</a></li>
                  <li><a href="#">لباس شب</a></li>
                  <li><a href="#">لباس تابستانی</a></li>
                  <li><a href="#">اجاره یا خرید</a></li>
                  <li><a href="#">فهرست پیگیری شما</a></li>
                  <li><a href="#">تماشای هرجایی</a></li>
                  <li><a href="#">شروع شدن</a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#">کامپیوتر</a>
                <ul>
                  <li><a href="#">تلویزیون و ویدئو</a></li>
                  <li><a href="#">صوتی و تئاتر</a></li>
                  <li><a href="#">دوربین، عکس</a></li>
                  <li><a href="#">تلفن های همراه</a></li>
                  <li><a href="#">هدفون</a></li>
                  <li><a href="#">بازی های ویدئویی</a></li>
                  <li><a href="#">بلندگوهای بی سیم</a></li>
                </ul>
              </li>
              <li class="has-sub"><a href="#">الکترونیک</a>
                <ul>
                  <li><a href="#">صفحه اصلی آمازون</a></li>
                  <li><a href="#">آشپزخانه و ناهارخوری</a></li>
                  <li><a href="#">تختخواب و حمام</a></li>
                  <li><a href="#">لوازم خانگی</a></li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- category-sub-menu end -->
        </div>
        <!--sidebar-categores-box end  -->
        <!--sidebar-categores-box start  -->
        <div class="sidebar-categores-box">
          <div class="sidebar-title">
            <h2>فیلتر بر اساس</h2>
          </div>
          <!-- btn-clear-all start -->
          <button class="btn-clear-all mb-sm-30 mb-xs-30">پاک کردن همه</button>
          <!-- btn-clear-all end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area">
            <h5 class="filter-sub-titel">برند</h5>
            <div class="categori-checkbox">
              <form action="#">
                <ul>
                  <li><input type="checkbox" name="product-categori"><a href="#">ویدئوی اصلی (13)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">کامپیوتر (12)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">الکترونیک (11)</a></li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">دسته ها</h5>
            <div class="categori-checkbox">
              <form action="#">
                <ul>
                  <li><input type="checkbox" name="product-categori"><a href="#">گوشه گرافیک (10)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#"> استودیو طراحی (6)</a></li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">اندازه</h5>
            <div class="size-checkbox">
              <form action="#">
                <ul>
                  <li><input type="checkbox" name="product-size"><a href="#">S (3)</a></li>
                  <li><input type="checkbox" name="product-size"><a href="#">M (3)</a></li>
                  <li><input type="checkbox" name="product-size"><a href="#">L (3)</a></li>
                  <li><input type="checkbox" name="product-size"><a href="#">XL (3)</a></li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area pt-sm-10 pt-xs-10">
            <h5 class="filter-sub-titel">رنگ</h5>
            <div class="color-categoriy">
              <form action="#">
                <ul>
                  <li><span class="white"></span><a href="#">سفید (1)</a></li>
                  <li><span class="black"></span><a href="#">سیاه (1)</a></li>
                  <li><span class="Orange"></span><a href="#">نارنجی (3) </a></li>
                  <li><span class="Blue"></span><a href="#">آبی (2) </a></li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
          <!-- filter-sub-area start -->
          <div class="filter-sub-area pt-sm-10 pb-sm-15 pb-xs-15">
            <h5 class="filter-sub-titel">ابعاد</h5>
            <div class="categori-checkbox">
              <form action="#">
                <ul>
                  <li><input type="checkbox" name="product-categori"><a href="#">40x60cm (6)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">60x90cm (6)</a></li>
                  <li><input type="checkbox" name="product-categori"><a href="#">80x120cm (6)</a></li>
                </ul>
              </form>
            </div>
          </div>
          <!-- filter-sub-area end -->
        </div>
        <!--sidebar-categores-box end  -->
        <!-- category-sub-menu start -->
        <div class="sidebar-categores-box mb-sm-0 mb-xs-0">
          <div class="sidebar-title">
            <h2>لپ تاپ</h2>
          </div>
          <div class="category-tags">
            <ul>
              <li><a href="# ">ادیتا</a></li>
              <li><a href="# ">دوربین</a></li>
              <li><a href="# ">سونی</a></li>
              <li><a href="# ">کامپیوتر</a></li>
              <li><a href="# ">فروش بزرگ</a></li>
              <li><a href="# ">تجهیزات جانبی</a></li>
            </ul>
          </div>
          <!-- category-sub-menu end -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Content Wraper Area End Here -->


<!-- ngx-loading -->
<ngx-loading [show]="isLoading"></ngx-loading>

